.header {
    @apply z-10 sticky top-0 w-[90%] rounded-xl mx-auto flex flex-row md:flex-row-reverse items-center justify-between font-mono text-sm p-4 sm:p-8 bg-light-300 dark:bg-black backdrop-blur-lg bg-opacity-30;

    & .headerContent {
        @apply z-20 flex justify-between w-full md:w-auto;
    }
    & .navBar {
        @apply bg-light-300 dark:bg-black bg-opacity-90 md:bg-opacity-0 justify-center md:relative md:flex md:flex-row gap-8 md:gap-2 items-center w-full p-8 sm:p-2;

        & .dropDown {
            @apply flex-col gap-4 top-full left-0 w-[150px] p-2 py-4 bg-light-300 dark:bg-black rounded-xl;
        }
    }
}

.logo {
    @apply pointer-events-none flex items-baseline place-items-center gap-2 lg:pointer-events-auto;
}

.navToggler {
    @apply w-full flex justify-end md:hidden;

    & .navIcon {
        @apply w-8 aspect-square;
    }
}

.link {
    @apply capitalize p-2 sm:hover:bg-light-500 sm:dark:hover:bg-dark-500 rounded-xl;
}
.linkRed {
    @apply capitalize p-2 border border-red-500 sm:hover:bg-red-400 rounded-xl cursor-pointer;
}
