.inputContainer {
    @apply flex flex-col;
}

.details {
    @apply p-[5px_0px];
}

.inputbox {
    @apply h-10 p-6 w-full border bg-white dark:bg-[#222222] border-gray-500;
}

.textbox {
    @apply p-6 w-full border bg-white dark:bg-[#222222] border-gray-500;
}

.fp {
    @apply text-sm text-[#aba8a8];
}

.reg {
    @apply decoration-solid underline underline-offset-2 decoration-white cursor-pointer;
}

.data {
    @apply flex flex-row justify-between items-center;
}

.required {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}
