.cardWrapper {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 10000px;
    opacity: 0.8;
    & .cardFront {
        animation: animateCard 6s linear alternate infinite;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    & .cardBack {
        animation: animateCard 6s linear alternate-reverse infinite;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
}

@keyframes animateCard {
    0% {
        transform: rotateY(0deg);
        opacity: 100;
    }
    40% {
        transform: rotateY(0deg);
        opacity: 100;
    }
    60% {
        transform: rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(180deg);
        opacity: 0;
    }
}
